*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(247, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

#container{

    width: 100%;
    margin: 0px auto;
    border: 1px solid black;

}

header{
    font-family: 'Playfair Display', serif;
    background: rgb(247, 240, 240);
    height: 50px;
    margin: 0px; 
    text-align: left;
    line-height: 50px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    border-bottom: 3px solid black;
}

nav{
    background: rgb(247, 240, 240);
    height: 50px;
    border-bottom: 1px solid black;
    

}

nav ul li{
    float: left; 
    list-style: none;
    margin: 10px;
    line-height: 30px;

}

.clearfix{
    clear:both;
}

#content{
    float:left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: rgb(247, 240, 240);
    padding: 40px;
    border: 1px solid black;

}

#imagen{
    
    width: 100%;
    min-height: 500px;
    margin: 0px auto;
    border: 1px solid black;
    background: rgb(247, 240, 240);
    
    

}

.article{
    color: rgb(24, 24, 24);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.article:first-child{
    padding-top: 10px;
    border-top: 1px solid #000000;
}

.article h2{
    font-size: 25px;
}

aside{
    float:left;
    width: calc(20% - 20px);
    background: rgb(247, 240, 240);
    min-height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
    

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
