*{
    margin: 0px;
    padding: 0px;
}

body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#container{

    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;

}

header{

    backgound: gray;
    heigh: 100px;
    widht: 100px;
    margin: 0px; 
    text-align: center;
    line-height: 100px;
    color: white;
}

.article{

}